#main {background-color:#fff0cd}
.quote {background:#f2eddf;border:1px solid #e6e1d3;margin:0.8em;padding:0.6em 0.8em;}
.collapse_btn_div {border-top:1px solid #e0c19e;border-bottom:1px solid #e0c19e;padding:1px 0}
.collapse_btn {border:0px solid;background:#ead5bc;border-radius:5px;}
.collapse_content {padding:0.6em;}
.subtitle {border-bottom:1px solid;margin:1.33em 0 0.2em 0;}